*{
    margin:0px;
    padding:0px;
}
.road{
    margin-top:-80px;
    width:100%;
    height:630px;
}
.car{
    width:200px;
    position: relative;
    top:475px;
    animation: car 9s infinite linear;
}
.tier1{
    width:34px;
    top:469px;
    left:-179px;
    position: relative;
    animation: tier1 9s infinite linear;
}
.tier2{
    width:34px;
    top:469px;
    left:-120px;
    position: relative;
    animation: tier2 9s infinite linear;

}
.plane1{
    width:90px;
    position:relative;
    margin-top: -30px;
    animation: plane 10s infinite linear;
    transform: rotate(-5deg);
    
}
@keyframes plane{
    from{
    top:270px;
    left:-650px;
}
to{
    top:-20px;
    left:1400px;
}


}
@keyframes car{
    from{
        top:475px;
        left:-350px;
    }
    to{
        top:475px;
        left:1500px;
    }
}
@keyframes tier1{
    from{
        top:470px;
        left:-530px;
        transform: rotate(0deg);
    }
    to{
        top:470px;
        left:1326px;
        transform: rotate(3500deg);
    }
}
@keyframes tier2{
    from{
        top:470px;
        left:-464px;
        transform: rotate(0deg);
    }
    to{
        top:470px;
        left:1384px;
        transform: rotate(3500deg);
    }
}
